@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

/* STRUCTURE */

.columnsc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.columnc {
    flex: 1;
}

.cabecera {
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: center;
    background: rgb(0,255,194);
    background: linear-gradient(90deg, rgba(0,255,194,1) 0%, rgba(35,217,207,1) 17%, rgba(2,0,36,1) 100%);
    border-style: solid;
    border-width: 0px 0px 5px 0px; /* 5px top and bottom, 20px on the sides */
    border-color: #f9f9f9;
}

.texto_cabecera {
    letter-spacing: 3px;
    color: aquamarine;
    text-shadow: 2px 2px 5px cadetblue;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: rgb(14, 152, 161);
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #7cdada;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4bc6db;
    color: white;
}

.actualizar {
    border-bottom: 2px solid #4aced3;
}

button {
    margin-top: 5px;
    float: left;
    width: 50px;
    padding: 12px 20px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}